<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.rj.processing.plasmasound" android:versionCode="14" android:versionName="1.2.5" xmlns:android="http://schemas.android.com/apk/res/android"
android:installLocation="preferExternal">
  <uses-sdk android:targetSdkVersion="11" android:minSdkVersion="8"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
  
  <application android:label="Plasma Sound" android:icon="@drawable/icon" android:hardwareAccelerated="true">
  
    <activity android:name="com.rj.processing.plasmasoundhd.PDActivity"
    		  android:theme="@android:style/Theme.Holo" android:screenOrientation="landscape"
    		  android:configChanges="orientation">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    

        
     <activity android:name="com.rj.processing.plasmasound.PlasmaThereminEffectsSettings"
     		  android:screenOrientation="sensor"
     		  android:configChanges="orientation">
     </activity>    
     <activity android:name="com.rj.processing.plasmasound.PlasmaThereminAudioSettings"
     		  android:screenOrientation="sensor"
     		  android:configChanges="orientation">
     </activity>    
     <activity android:name="com.rj.processing.plasmasound.PlasmaThereminSequencerSettings"
     		  android:screenOrientation="sensor"
     		  android:configChanges="orientation">
     </activity>    
        
        
  </application>
  
</manifest>