<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.rj.processing.plasmasound" 
    android:versionCode="173" 
    android:versionName="2.2.1" 
    xmlns:android="http://schemas.android.com/apk/res/android"
	android:installLocation="preferExternal">
  <uses-sdk android:targetSdkVersion="18" android:minSdkVersion="8"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<!--   <uses-permission android:name="android.permission.CAMERA"/>
 -->
   <application android:allowBackup="true" 
       android:label="@string/app_name" 
       android:icon="@drawable/icon"
       android:hardwareAccelerated="true">
  
    <activity android:name="com.rj.processing.plasmasoundhd.PDActivity"
    		  android:theme="@style/PSNDStyle" android:screenOrientation="landscape"
    		  android:configChanges="orientation|keyboard|navigation|touchscreen|keyboardHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    

        
     <activity android:name="com.rj.processing.plasmasound.PlasmaThereminEffectsSettings"
     		  android:screenOrientation="landscape"
     		  android:configChanges="orientation">
     </activity>    
     <activity android:name="com.rj.processing.plasmasound.PlasmaThereminAudioSettings"
     		  android:screenOrientation="landscape"
     		  android:configChanges="orientation">
     </activity>    
     <activity android:name="com.rj.processing.plasmasound.PlasmaThereminSequencerSettings"
     		  android:screenOrientation="landscape"
     		  android:configChanges="orientation">
     </activity>    
        
        
  </application>
  
</manifest>
