<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.rj.processing.plasmasound" android:versionCode="3" android:versionName="1.0.2" xmlns:android="http://schemas.android.com/apk/res/android"
android:installLocation="preferExternal">
  <uses-sdk android:minSdkVersion="8"/>
  <application android:label="Plasma Sound" android:icon="@drawable/icon">
    <activity android:name=".PlasmaSound"
    		  android:screenOrientation="landscape">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    
        <activity
            android:label="Plasma Sound Audio Settings"
            android:name=".PlasmaThereminAudioSettings"
            android:exported="true">
        </activity>
        <activity
            android:label="Plasma Sound Effects Settings"
            android:name=".PlasmaThereminEffectsSettings"
            android:exported="true">
        </activity>
    
  </application>
  
  <permission android:name="android.permission.WAKE_LOCK"></permission>
</manifest>
